<!DOCTYPE html>
<html>
<head>
  <title>Foundit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
	<ul id="menu" class="blue">
			<li><%= link_to "Show All", postings_path %></li>
			<li><%= link_to "Sort by Lost", {:controller => "postings", :action => "show_lost"} %></li>
			<li><%= link_to "Sort by Found", {:controller => "postings", :action => "show_found"} %></li>
			<li><a href="about.html">About</a></li>
		</ul>
</header>
<div class = "imageBack">
<%= yield %>
</div>
</body>
</html>
