<%= form_for(@posting, :html => { :multipart => true }) do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this Posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :posting_type %><br />
    <%= f.select(:posting_type, options_for_select([['Lost', 1],['Found', 2]])) %> 
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <!--
  <div class="field">
	<%
=begin %>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :image_thumb %><br />
    <%= f.text_field :image_thumb %>
    <% 
=end %>
  </div>
  -->
  <div class="field">
	<%= f.file_field :photo %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
