<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @posting.id %>
</p>

<p>
  <b>Type:</b>
  <%= @posting.posting_type %>
</p>


<p>
  <b>Name:</b>
  <%= @posting.name %>
</p>

<p>
  <b>Description:</b>
  <%= @posting.description %>
</p>

<%
=begin %>
<p>
  <b>Image:</b>
  <%= image_tag(@posting.image) %>
</p>
<%
=end %>

<p>
  <b>Image:</b>
  <%= image_tag(@posting.photo.url(:large)) %>
</p>

<p>
  <b>Image Thumbnail:</b>
  <%= image_tag(@posting.photo.url(:thumb)) %>
</p>

<%
=begin %>
<p>
  <b>Image Thumbnail:</b>
  <%= image_tag(@posting.image_thumb) %>
</p>
<%
=end %>

<p>
  <b>Created At:</b>
  <%= @posting.created_at %>
</p>

<p>
  <b>Last Modified:</b>
  <%= @posting.updated_at %>
</p>

<br />


<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
