<div style="width: 1100px;margin: 0 auto;">
<br />
<%=link_to(image_tag("get_the_app.png", :class => "appAd"),"about.html") %>
<%= image_tag("FounditLogo@2x.png", :class => "mainLogo") %>
<br /><br />
<div style="margin: 0 auto;width: auto;padding-left: 36%;">
	<%= link_to "New Posting", new_posting_path, :class => "homeText" %>
<div style="margin-left: 90px;">
Type = 1 = Lost<br />
Type = 2 = Found
</div>
</div>
<br /><br />
</div>
<table style="width: auto;margin: 0 auto;" border="1" cellspacing='0'>
  <tr>
  	<th>ID</th>
  	<th>Type</th>
    <th>Name</th>
    <th>Image</th>
    <th>Image Thumbnail</th>
    <th>Created At</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% 
@postings = Posting.where('posting_type == 2')
@postings = @postings.find(:all, :order => "created_at DESC")
@postings.each do |posting| %>
  <tr>
  	<td><%= posting.id %></td>
  	<td><%= posting.posting_type %></td>
    <td><%= posting.name %></td>
    <td><%= image_tag(posting.photo.url(:large)) %></td>
    <td><%= image_tag(posting.photo.url(:thumb)) %></td>
    <td><%= posting.created_at_formatted %></td>
    <td><%= link_to 'Show', posting %></td>
    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>