<h1>Postings</h1>

<br />
<%= link_to 'New Posting', new_posting_path %>
<br /><br />
<%= link_to 'Show All', postings_path %><br />
<%= link_to 'Sort by Lost', :controller => "postings", :action => "show_lost" %><br />
<%= link_to 'Sort by Found', :controller => "postings", :action => "show_found"  %>
<br /><br />
Type = 1 = Lost<br />
Type = 2 = Found
<br /><br />

<table border="1">
  <tr>
  	<th>ID</th>
  	<th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Image Thumbnail</th>
    <th>Created At</th>
    <th>Last Modified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% 
@postings = Posting.where('posting_type == 2')
@postings = @postings.find(:all, :order => "created_at DESC")
@postings.each do |posting| %>
  <tr>
  	<td><%= posting.id %></td>
  	<td><%= posting.posting_type %></td>
    <td><%= posting.name %></td>
    <td><%= posting.description %></td>
    <td><%= image_tag(posting.photo.url(:large)) %></td>
    <td><%= image_tag(posting.photo.url(:thumb)) %></td>
    <td><%= posting.created_at %></td>
    <td><%= posting.updated_at %></td>
    <td><%= link_to 'Show', posting %></td>
    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>